.leaflet-container {
    border: 2px solid var(--color-semiblack);
}

#map {
    background: var(--color-black);
    z-index: 5;
}

.leaflet-container .leaflet-control-attribution {
    display: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a {
    background: var(--color-semiblack);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.node {
    border: 2px solid var(--color-grey);
    border-radius: 5px;
}

.--player {
    border: 2px solid var(--color-primary);
}

.--enemy {
    border: 2px solid var(--color-secondary);
}

.--update {
    animation: pulse-update 1s infinite
}

.--attack {
    animation: pulse-attack 1s infinite
}
.leaflet-marker-pane .player {
    border-radius: 50px;
    animation: halo-pulse 2s ease-in-out infinite;
    background: var(--color-black);
}

@keyframes halo-pulse {
    0% {
        outline: 0.25rem solid var(--color-primary);
        filter: drop-shadow(0 0 2rem var(--color-primary));
    }
    50% {
        outline: 0.25rem solid transparent;
        filter: drop-shadow(0 0 0 var(--color-primary));
    }
    100% {
        outline: 0.25rem solid var(--color-primary);
        filter: drop-shadow(0 0 2rem var(--color-primary));
    }
}

.leaflet-marker-pane .player__enemy {
    border-radius: 50px;
    animation: halo-blink 0.5s infinite;
}

@keyframes halo-blink {
    0% {
        outline: 0.25rem solid var(--color-secondary);
        filter: drop-shadow(0 0 0.25rem var(--color-secondary));
    }

    100% {
        outline: 0.25rem solid transparent;
        filter: drop-shadow(0 0 0 var(--color-secondary));
    }
}

.leaflet-popup {
    background: transparent;
}

.leaflet-popup-tip-container .leaflet-popup-tip {
    background: var(--color-semiblack);
}

.leaflet-popup .leaflet-popup-content-wrapper {
    background: transparent;
}

.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    background: transparent;
    width: 12rem;
    height: 6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaflet-popup-close-button {
    display: none;
}

.player-popup .leaflet-popup-content-wrapper {
    padding: 0;
    margin: 0;
}

.player-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    width: 2rem;
    height: 2rem;
}

@keyframes pulse-update {
    0% {
        outline: 0.25rem solid var(--color-primary);
        filter: drop-shadow(0 0 0.25rem var(--color-primary));
    }
    50% {
        outline: 0.25rem solid transparent;
        filter: drop-shadow(0 0 0 var(--color-primary));
    }
    100% {
        outline: 0.25rem solid var(--color-primary);
        filter: drop-shadow(0 0 0.25rem var(--color-primary));
    }
}

@keyframes pulse-attack {
    0% {
        outline: 0.25rem solid var(--color-secondary);
        filter: drop-shadow(0 0 0.25rem var(--color-secondary));
    }
    50% {
        outline: 0.25rem solid transparent;
        filter: drop-shadow(0 0 0 var(--color-secondary));
    }
    100% {
        outline: 0.25rem solid var(--color-secondary);
        filter: drop-shadow(0 0 0.25rem var(--color-secondary));
    }
}
